@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply p-4 w-full rounded-2xl text-white text-center
}

.bg-splash1 {
    background-image: url("/images/Splash1.jpg");
    background-size: cover;
    background-position: center;
}

.bg-splash2 {
    background-image: url("/images/Splash2.jpg");
    background-size: cover;
    background-position: center;
}

.discover {
    background-image: url("/images/Splash2.jpg");
    background-size: cover;
    background-position: center;
    
}

.selfcare {
    background-image: url("/images/selfcare.jpeg");
    background-size: cover;
    background-position: center;
}